---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			I love developing software and learning new technologies. 
			I have experience with a wide range of programming languages and frameworks, 
			including JavaScript, React, Angular, C#, F#, Java, Flutter, SQL and more. 
			I am always eager to learn new skills and take on new challenges.
		</p>
	</div>
</section>