---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Profile Photo"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				I have achieved a first class honours degree in Computer Science from the University of Limerick.
				 I have completed two internships with Thales Netherlands and Confirm Smart Manufacturing. I have 
				 worked for PDI Software and Lets Get Checked as a Software Engineer.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
