---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/Portfolio/img/DisnefyPicOfMe.png"
			alt="Profile Photo"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About Me" />
			<p class="about__text">
				I have achieved a first class honours degree in Computer Science from the University of Limerick
				and completed a postgraduate degree in Cybersecurity Software Development. I have completed three 
				internships with Thales Netherlands, Confirm Smart Manufacturing and Siren. I have 
				worked for PDI Software and Lets Get Checked as a Software Engineer.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
